<div>
  <input [(ngModel)]="newticId">  
</div>
<br>
<div>
    <input [(ngModel)]="city1">
    <input [(ngModel)]="city2">
    <input [(ngModel)]="cost">
    <input [(ngModel)]="company">
    <input type="date" [(ngModel)]="depar_date">
    <input type="time" [(ngModel)]="depar_time">
    <input type="date" [(ngModel)]="Arrival_date">
    <input type="time" [(ngModel)]="Arrival_time">
    <input [(ngModel)]="count">
    <br>
    <button (click)="updateTickets()">Update</button>
    <button (click)="createTickets()">Create</button>
</div>
<br>


<div>
  <ul>
    <li *ngFor="let ticket of tickets">
      <a>
        {{ ticket.id }}. {{ ticket.city1 }} - {{ ticket.city2 }},  {{ ticket.cost }}. 
      </a>
      <p>Departure: {{ ticket.depar_date | date: 'dd/MM/yyyy' }} {{ ticket.depar_time }}</p>
      <p>Arrival: {{ ticket.Arrival_date | date: 'dd/MM/yyyy' }} {{ ticket.Arrival_time }}</p>
      <button (click)="deleteTicket(ticket.id)">Delete</button>
    </li>
  </ul>
</div>


