<div class="container">
  <h1>Hotel</h1>
  <div class="airPassagebar">
      <input class="leftborderradius inputAirPassageBar" placeholder="City"> 
      <input class="inputAirPassageBar " placeholder="Arrival"> 
      <input class="inputAirPassageBar" placeholder="Departure"> 
      <input class="inputAirPassageBar" placeholder="Number of people">  
      <button class="rightborderradius buttonAirPassageBar">Find</button>
  </div>
</div>

<div>
    <ul>
        <li *ngFor="let hotel of hotels">
          <a>
            {{hotel.id}} - {{hotel.city}}.  {{hotel.name}}.
          </a>
        </li>
      </ul>
</div>
