
<input placeholder="City1" [(ngModel)]="city1">
<input placeholder="City2" [(ngModel)]="city2">
<input placeholder="Date" [(ngModel)]="depar_date" type="date">
<input placeholder="">
<input placeholder="Num of passage" [(ngModel)]="newNum">
<button (click)="findTicket()">Find</button>

<div>
    <ul>
        <li *ngFor="let ticket of tickets">
            {{ticket.id}}. {{ticket.city1}} - {{ticket.city2}},  {{ticket.cost}}, {{ticket.depar_date}}, {{ticket.Arrival_date}}, {{ticket.number}}
            <button (click)="buyTicket(ticket.id)">Buy</button>
        </li>
    </ul>
</div>

