<div class="container">
  <div class="whitebox">
            <div class = "Registrate">
                <input type="E-mail" [(ngModel)]="newMail" placeholder="mail">
                <input type="nickname" [(ngModel)]="newNickName" placeholder="nickname">
                <input type="password" [(ngModel)]="newPassword" placeholder="password">
                <input type="password" [(ngModel)]="newPasswordAgain" placeholder="PasswordAgain">
                <button class="ButtonRegistrate" (click)="addAccount()">Registrate</button>
            </div>
        </div>
</div>
    
