<div class="container">
    <div class="whitebox">
    <div class = "log_in">
            <input type="nickname" [(ngModel)]="newNickName" placeholder="nickname">
            <input type="password" [(ngModel)]="newPassword" placeholder="password">
            <button class="ButtonLogin" (click)="login()">Log in</button>
            <a href="#" class="forgetPassword">Forgot your password?</a>
            <br>
    </div>
    <br>
        <a [routerLink]="['/Registration']" class="registrateUser"><p>Registrate new user</p></a>
    </div>
    
    
</div>



